<div>
    <h2 id="dealer" class="player">Dealer</h2>

		<div class="dealerHand">
			<img id="dealerCard0" src="">
		</div>

		<div class="userHand">
			<img id="userCard0" src="">
		</div>

		<h2 id="userName" class="player">{{username}}</h2>

		<div class="buttons">
			<button id="hit"> Hit </button>
			<button id="stand"> Stand </button>
      		<button id="playAgain">Play Again?</button>
			<button id="leaderboard">Leaderboard</button>
		</div>
</div>