<div>
    <h2>Dealer<span id="dealer-sum"></span></h2>

		<div id="dealer-cards">
			<img id="hidden" 
			src="../public/cards/BACK.png"
			
		</div>


		<h2 id="userName" class="player">{{username}}</h2>

		<div class="buttons">
			<button id="hit"> Hit </button>
			<button id="stand"> Stand </button>
      		<button id="playAgain">Play Again?</button>
			<button id="leaderboard" href="/api/leaderboard">Leaderboard</button>
		</div>
		 <p id="results"></p>
		
</div>