<div>
    <h2>Dealer<span id="dealer-sum"></span></h2>

		<div id="dealer-cards">
			<img id="hidden" 
			src="../public/cards/BACK.png"
			
		</div>


	<h2>Player <span id="player-sum"></span></h2>
		<div class="player-cards"></div>

		

		<div class="buttons">
			<button id="hit"> Hit </button>
			<button id="stand"> Stand </button>
		</div>
		 <p id="results"></p>
		
</div>