<div class="container">
  <div class="row justify-content-evenly">


    <form class="col-3 card login-form" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title" class="card-header">Login</h3>
        <h6 class="card-subtitle mb-2 text-muted">You must be logged in to play.</h6>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="username-login" class="form-control" id="username-login">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <button href="/api/game" class="btn btn-primary">Play!</button>
      </div>
      </form>


    <form class="col-3 card form signup-form" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title" class="card-header">Create an Account</h3>
        <h6 class="card-subtitle mb-2 text-muted">Fun times ahead</h6>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="username-signup" class="form-control" id="username-signup">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup">
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
    </form>
  </div>
</div>

  <script src="js/login.js"></script>