body {
    font-family: 'IBM Plex Sans', sans-serif;    
    background-image: url('../images/Screen\ Shot\ 2022-08-06\ at\ 11.06.26\ AM.png');
    background-size: cover;
  }

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 175px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}